<div>
  <h3>Sample Datatable</h3>
  <nz-table #rowSelectionTable [nzData]="sampleArr" [nzPageSize]="4">
    <thead>
      <tr>
        <th>Index</th>
        <th nzWidth="300px">Main Content</th>
        <th>Belongs To</th>
        <th>Operations</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of rowSelectionTable.data">
        <td>{{data.id}}</td>
        <td>{{data.joke}}</td>
        <td>{{data.categories}}</td>
        <td>
          <nz-button-group nzSize="small">
            <button nz-button nzType="primary" (click)="actionFunc(data)">Action 1</button>
            <button nz-button nzType="default" (click)="actionFunc2()">Action 2</button>

          </nz-button-group>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>